<h2><%= t ".title" %><%= resource_name.to_s.humanize %></h2>

<%= form_for resource, as: resource_name,
  url: registration_path(resource_name), html: {method: :put} do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.email_field :email, placeholder: t("femail"),
      autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= t ".content13" %><%= resource.unconfirmed_email %>
    </div>
  <% end %>

  <div class="field">
    <%= f.password_field :password, placeholder: t("fpass"),
      autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %><%= t ".content22" %></em>
    <% end %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, placeholder: t("fpass"),
      autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.password_field :current_password,
      placeholder: t("fnpass"), autocomplete: "off" %>
  </div>

  <div class="=field">
    <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
  </div>

  <div class="actions">
    <%= f.submit t(".submit") %>
  </div>
<% end %>

<p><%= t ".content41" %></p>

<p><%= t ".content43" %><%= button_to t(".cancel"), registration_path(resource_name),
  data: {confirm: t(".confirm")}, method: :delete %></p>

<%= link_to t(".linkto"), :back %>
