<tr>
  <td><%= image_tag user.image.url(:small), size: "80x80" %></td>
  <td><%= link_to user.username, user_path(user) %></td>
  <td><%= user.email %></td>
  <td><%= rating_for user, "quality", star: 5 %></td>

  <% if can? :read, User %>
    <td class="half-width">
      <%= form_for(user) do |f| %>
        <div class="input-group">
        <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]},{prompt: "Select role"}, {class: "form-control"}) %>
        <span class="input-group-btn">
          <%= f.submit "Change", class: "btn btn-info" %>
        </span>
        </div>
      <% end %>
    </td>
    <% if current_user.admin? && !user.current_user?(current_user) %>
      <td><%= link_to t(".linkto6"), user_path(user), method: :delete,
        data: {confirm: t(".linkto7")}, class: "btn btn-danger" %></td>
    <% end %>
  <% end %>
</tr>
