<li>
  <% if user.image.present? %>
    <%= link_to image_tag(user.image.url(:small)), user.image.url %>
  <% else %>
    <% image_tag "default.jpg" %>
  <% end %>
  <a class="tab" />
  <%= link_to user.username, user %>
  <%= rating_for user, "quality", star: 5 %>
</li>
<% if can? :read, User %>
  <td>
    <%= form_for(user) do |f| %>
<<<<<<< HEAD
      <% unless user.role == "admin" %>
        <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %>
        <%= f.submit 'Change Role', :class => 'button-xs' %>
      <% end %>
    <% end %>
  </td>
=======
      <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %>
      <%= f.submit 'Change Role', :class => 'button-xs' %>
    <% end %>
  </td>
  <% if current_user.admin? && !user.current_user?(current_user) %>
    <%= link_to t(".linkto6"), user, method: :delete,
      data: {confirm: t(".linkto7")} %>
  <% end %>
>>>>>>> 378a234... role 2
<% end %>
