<%= form_for product do |f| %>
  <%= render "shared/error_messages", object: f.object %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :price %>
    <%= f.number_field :price, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control",
      size: "80x6" %>
  </div>

  <div class="form-group">
    <%= f.label :category %>
    <%= f.select :category_id,
      options_from_collection_for_select(category, :id, :name),
      {prompt: "Select one category"}, {class: "form-control"} %>
  </div>

  <div class="form-group">
    <div class="fileinput fileinput-new"
      data-provides="fileinput">
      <div class="fileinput-new thumbnail"
        style="width: 200px; height: 200px;">
        <%= image_tag product.product_image.url,
          class: "img-thumbnail" %>
      </div>
      <div class="fileinput-preview fileinput-exists thumbnail"
        style="max-width: 200px; max-height: 200px;"></div>
      <div>
        <span class="btn btn-default btn-file">
          <span class="fileinput-new"><%= t "select_image" %></span>
          <span class="fileinput-exists"><%= t "change" %></span>
          <%= f.file_field :product_image %>
        </span>
        <%= link_to t("remove"), "#",
          class: "btn btn-default fileinput-exists",
          data: {dismiss: "fileinput"} %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-success" %>
  </div>
<% end %>
