<!DOCTYPE html>
<html>
  <head>
    <title>Perfect</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application",
      "data-turbolinks-track": "reload" %>
  </head>
  <body>
    <div class="container">
      <%= render "layouts/header" %>
      <%= yield %>
    </div>
    <!-- <script async="async" src="https://www.paypalobjects.com/js/external/paypal-button.min.js?merchant=hero4120@gmail.com"
    data-button="donate"
    data-name="dong gop"
    data-quantity="1"
    data-amount="5"
    data-currency="USD"
    data-shipping="0.75"
    data-tax="3.5"
    data-callback="http://localhost:3000"
    data-env="sandbox"
></script> -->
    <%= render "layouts/footer" %>
  </body>
</html>
